.create-form {
  background-color: #7f4a4a4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: .5rem;
  /* width: 20rem; */
}
.button {
  display: flex;
  justify-content: space-around;
}
